RewriteEngine On



#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
RewriteRule ^browse-etudiant.php$ view/etudiant/browse-etudiant.php
RewriteRule ^$ view/etudiant/add-etudiant.php